h1 {
    color: palevioletred;
    text-align: center;
}

.main {
    text-align: center;
}

div {
    background-color: lightblue;
}

.signature {
    text-align: right;
    color: darkblue;
    font-style: italic;
}